body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: "Source Code Pro", monospace;
    color: rgb(255, 94, 30);
}

.prev {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #1a1a1a;
    padding: 20px 0;
    width: 100%;
}

.prev a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

.prev a:hover {
    color: rgb(255, 123, 36);
}

.content-box {
    text-align: center;
    padding: 40px;
}

.support-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

.support-table th, .support-table td {
    border: 1px solid #444;
    padding: 10px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.feat-item {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
}
.product-image {
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: auto;
    border-radius: 10px;
}
#A1 {
    color:#000;
    display: block;
    margin-left: 240px;
    margin-top: 40px;
    font-size: 18px;
    border: 1px solid #444;
    border-radius: 15px;
    width: fit-content;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
}